*{
    margin: 0;
    padding: 0;
}

.shark{
    background-color:rgb(146, 14, 14);
    display: flex;
    justify-content: space-around;
}
.lista-shark{
    color: white;
    font-size: 30px;
}
.lista-item{
    display: inline-block;
    font: bolder;
}
.primeiro-shark{
    background-color: rgb(56, 55, 51);
    padding: 15px;
}
.primeiro-shark{
    background-image: linear-gradient(rgb(146, 14, 14), rgb(0, 0, 0));
    height: 500px;
    padding: 100px;
    color: white;
}
.primeiro-p{
    align-items:baseline;
    padding: 10px;
}
.segundo-p{
     padding: 10px;
}

.foto-estudo{
   width: 20px;
}

.titulo-estudante{
    display: flex;
    align-items: center;
justify-content: space-around;
}

.foto-de-estudante{
    width: 50px;
}